<h1>View Properties</h1>
<ul>
	<li><%= link_to "View all properties", :controller => "property", :action => "list" %></li>
	<li><%= link_to "View available properties", :controller => "property", :action => "available" %></li>
</ul>